header {
  width: 100%;
  background-color: lightblue;
}

h2 {
  text-align: left;
}

ul {
  text-align: right;
  color: #ffffff;
}

li {
  list-style-type: none;
  font-size: 15px;
}

img {
  margin: 0 auto;
}

#item-1 {
  background-color: #e0115f;
}

#item-2 {
  background-color: #2c2caf;
}

#item-3 {
  background-color: #999900;
}

#image-3 {
 /*display: none;*/
}
/* Sets display of all elements with class selector to block */
.display-block {
  display: block;
  
}

/* Sets display of all elements with class selector to inline */
.display-inline {
  display: inline;
}

/* Sets display of all elements with class selector to inline */
.display-none {
  display: none;
}